<%= simple_form_for(@pin) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <%= f.input :board_id, collection: @boards, prompt: 'Please select' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
