<tr class="pin">
  <td><%= pin.name %></td>
  <td><%= link_to(image_tag(pin.image.thumb.url, class: 'thumbnail'), pin) %></td>
  <td><%= pin.board_id %></td>
  <td><%= link_to 'Show', pin %></td>
  <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
  <td><%= link_to 'Destroy', pin, method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>