<div class="col-sm-12 no-hr-padding">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="col-sm-4 col-sm-offset-4">
      <%= link_to 'New Pin', new_pin_path, class: 'btn btn-default center-block mb10' %>
    </div>
  </div>
  <div class="row">
    <div id="pins" class="page">
      <%= render @pins %>
      <%= paginate @pins %>
    </div>

    <%= paginate @pins %>
  </div>

</div>

<script>
    $(function () {
        var $pins = $('#pins');
        // initialize

        $pins.imagesLoaded(function () {
            $pins.masonry({
                columnWidth: 260,
                itemSelector: '.thumbnail',
                isFitWidth: true
            });
        });


        // Infinite Scroll
        $pins.infinitescroll({

                    // selector for the paged navigation (it will be hidden)
                    navSelector: "nav.pagination",
                    // selector for the NEXT link (to page 2)
                    nextSelector: "nav.pagination a[rel=next]",
                    // selector for all items you'll retrieve
                    itemSelector: "#pins div.pin",

                    // finished message
                    loading: {
                        finishedMsg: 'No more pages to load.'
                    }
                },

                // Trigger Masonry as a callback
                function (newElements) {
                    // hide new items while they are loading
                    var $newElems = $(newElements).css({ opacity: 0 });
                    // ensure that images load before adding to masonry layout
                    $newElems.imagesLoaded(function () {
                        // show elems now they're ready
                        $newElems.animate({ opacity: 1 });
                        $pins.masonry('appended', $newElems, true);
                    });

                });
    });
</script>