<div id="notice"><%= notice %></div>

<div class="pin-info text-center">
  <div>
    <%= image_tag @pin.image.url, class: 'img-responsive center-block' %>
  </div>
  <div class="pin-details">
    <h4><%= @pin.name %></h4>
    <h5>
      <i><%= @pin.board.title %></i>
    </h5>
  </div>

</div>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
