<!DOCTYPE html>
<html>
<head>
  <title>Walima Shoot - we capture your moment!</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'partials/navigation' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 pins-container no-hr-padding">
      <%= yield %>
    </div>
  </div>
</div>
<div class="footer text-center">
  &copy; <i>A Sharvy Ahmed production</i>
</div>
</body>
</html>
